.VisualizerController {
    background-color: rgb(95 0 122);
    color: white;
    display:block;
    font-family: 'Spline Sans', sans-serif;
    padding: 7px;
    margin-bottom: 10px;
    border-bottom: 5px solid black; 
    border-top: 5px solid red; 
    box-shadow: 10px 10px 10px grey;
    border-radius: 12px;
}